body{
	margin: 0;
	padding: 0;
	font-family: Raleway, helvetica, arial, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
}

/* Sections do site */
section.intro{
	position: relative;
	height: 100vh;
	background: url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;
}

section.projetos{
	background-image: url(../img/portfolio-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
}

section.conhecimentos{
	height: 100vh;
	background: url(../img/pattern-1la.png) bottom center no-repeat #21759b;
	background-size: cover;
}
/* Sections do site */



/* Tags do site */
p{
	font-size: 18px;
	color: white;
}

strong{
	color: #00ceff;
	font-weight: 400;
}

section.intro .col{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 90vh;
}

h1{
	font-size: 2.5em;
	font-weight: 200;
	line-height: 1;
	margin: 1.5em 0 .5em;
	color: #fff;
	text-transform: uppercase;
}

section.intro h1{
	display: inline-block;
	font-weight: 400;
	line-height: 1.6;
	text-transform: lowercase;
}

@media (max-width: 781px){
	h1{
		font-size: 2.1em;
	}
}

ul {
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	display: block;	
	list-style: none;
	font-weight: normal;
	padding: 5px 15px;
	margin: 0 15px 15px 0;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
}

.r1 {
	border-color: rgba(255,255,255, 1);
	color: rgba(255,255,255, 1);
	background-color: rgba(255,255,255, .2);
}

.r2 {
	border-color: rgba(255,255,255, .75);
	color: rgba(255,255,255, .75);
	font-size: .95em;
}

.r3 {
	border-color: rgba(255,255,255, .5);
	color: rgba(255,255,255, .5);
	border-width: 1px;
	padding: 6px 16px;
	font-size: .95em;
}
/* Tags do site */